<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>

  <body>
    <header>
      <div>
        <a class="a" href="/api/products">Products</a>
        <a href="/api/users/premium/{{_id}}">Change to rol</a>
      </div>
    </header>
    <h1>Profile</h1>

    <p>First Name: {{first_name}}</p>
    <p>Last Name: {{last_name}}</p>
    <p>Age: {{age}}</p>
    <p>Email: {{email}}</p>
    <p>Rol: {{rol}}</p>
  </body>

</html>